<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hossainkhan.android.demo">

    <application
        android:name=".base.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="com.hossainkhan.android.demo.ui.browse.LayoutBrowseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hossainkhan.android.demo.ui.layoutpreview.LayoutPreviewBaseActivity"
            android:parentActivityName="com.hossainkhan.android.demo.ui.browse.LayoutBrowseActivity" />
        <activity
            android:name="com.hossainkhan.android.demo.ui.layoutpreview.LayoutVisibilityGoneActivity"
            android:parentActivityName="com.hossainkhan.android.demo.ui.browse.LayoutBrowseActivity" />
        <activity
            android:name="com.hossainkhan.android.demo.ui.layoutpreview.LayoutChainStyleActivity"
            android:parentActivityName="com.hossainkhan.android.demo.ui.browse.LayoutBrowseActivity" />
        <activity
            android:name="com.hossainkhan.android.demo.ui.layoutpreview.LayoutGuidelineBarrierActivity"
            android:parentActivityName="com.hossainkhan.android.demo.ui.browse.LayoutBrowseActivity" />
        <activity
            android:name="com.hossainkhan.android.demo.ui.layoutpreview.LayoutGuidelineGroupActivity"
            android:parentActivityName="com.hossainkhan.android.demo.ui.browse.LayoutBrowseActivity" />
        <activity
            android:name="com.hossainkhan.android.demo.ui.layoutpreview.LayoutDimensionMinMaxActivity"
            android:parentActivityName="com.hossainkhan.android.demo.ui.browse.LayoutBrowseActivity" />
        <activity
            android:name="com.hossainkhan.android.demo.ui.functionaldemo.MovieDetailsPreviewActivity"
            android:parentActivityName="com.hossainkhan.android.demo.ui.browse.LayoutBrowseActivity" />
    </application>

</manifest>